body {
    font-family: 'Noto Sans', sans-serif;
    color: #1d1d1d;
    margin: 0;
    padding: 0;
}

.wrapper {
}
#header {
  width: 100%;
  background-color: #006aff;
  box-shadow: 0px 3px 0px #0045b5;
  text-align: center;
  display: inline-block;
}
span#title {
  font-size: 30px;
  color: white;
  padding: 10px 0px 10px 0px;
  display: inline-block;
}
#content {
  padding: 20px;
  width: 800px;
  margin: auto;
}

@media only screen and (max-width: 840px) {
  /* Add Mobile friendly styling */
}


#page-description {
  color: #3e3e3e;
  font-weight: bold;
}

#top-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
#start-rec-button-box {
  grid-area: 1 / 1 / 2 / 2;
  padding: 5px 10px 5px 10px;
}
#stop-rec-button-box {
  grid-area: 2 / 1 / 3 / 2;
  padding: 5px 10px 5px 10px;
}
#target-language-label-box {
  grid-area: 1 / 2 / 2 / 3;
  padding: 5px 10px 0px 10px;
  align-self: end;
}
#target-language-box {
  grid-area: 2 / 2 / 3 / 3;
  padding: 5px 10px 5px 10px;
}
#target-language-label {
  font-size: 20px;
  text-decoration: underline;
}

.result-text-container {
  margin-top:10px;
}

.original {
  background-color: #ececec;
  color: #212121;
  padding: 8px;
}
.translated {
  background-color: #3a8bff;
  color: #fff;
  padding: 8px;
  margin-bottom: 10px;
}
