body {
    font-family: sans-serif;
    background-color: #ddd9d9;
    margin: 0;
    padding: 0;
}

.wrapper {
  padding: 20px;
  width: 1000px;
  margin: auto;
}
@media only screen and (max-width: 1040px) {
    .wrapper {
        padding: 2%;
        width: 96%;
    }
}

.original_annotation {
  color: #2f2f2f;
}

.translation {
  font-style: italic;
  background-color: #d5d5d5;
}


@-webkit-keyframes redGlow {
  from {
    background-color: #8c190a;
    -webkit-box-shadow: 0 0 9px #9c291a;
  }
  50% {
    background-color: #9c291a;
    -webkit-box-shadow: 0 0 18px #bdb5b4;
  }
  to {
    background-color: #8c190a;
    -webkit-box-shadow: 0 0 9px #9c291a;
  }
}

#recordingStatus {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 20px;
  visibility: hidden;
  -webkit-animation-name: redGlow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}
