<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Google Cloud Speech Annotation &amp; Translation</title>
  <meta name="description" content="Google Cloud Speech Annotation &amp; Translation">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <div class="wrapper">
    <h1>Google Cloud Speech Annotation &amp; Translation</h1>

    <br>
    <button id="startRecButton" type="button"> Start recording</button>
    <button id="stopRecButton" type="button"> Stop recording</button>
    <label for="targetLanguage">
      Target Language:&nbsp;
    </label>
    <select id="targetLanguage">
      <option value="es">Spanish</option>
      <option value="ar">Arabic</option>
      <option value="zh-CN">Chinese (Simplified)</option>
      <option value="is">Icelandic</option>
      <option value="it">Italian</option>
      <option value="ru">Russian</option>
    </select>
    <div id="recordingStatus">&nbsp;</div>
    <br>

    <div>
      <p id="ResultText">
        <span class="original_annotation">
          No annotations yet, start recording to begin annotation and translation.
        <span>
      </p>
    </div>

    <br>
    <br>
  </div>

  <!-- Nlp -->
  <script src="https://unpkg.com/compromise@latest/builds/compromise.min.js"></script>

  <!-- Socket -->
  <script src="assets/js/socket.io.js"></script>

  <!-- Client -->
  <script src="assets/js/client.js"></script>
</body>

</html>
